# Environment variables
.env

# Checkpoints directory
checkpoints/
toolformer_model/
data/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# OS specific files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/