# Environment variables
.env

# Checkpoints directory
checkpoints/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Logs and outputs
*.log
*.txt

# OS specific files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/