# Environment variables
.env

# Checkpoints directory
code/checkpoints/
code/wandb/
code/toolformer_model/
code/toolformer_model_smol/
code/toolformer_model_failed/
code/.preprocessed/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# OS specific files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/