bitsandbytes
torch
transformers
peft
datasets
sympy
wolframalpha
google-auth
google-auth-oauthlib
google-api-python-client
RateMyProfessorAPI
numpy
pandas
requests
dotenv
huggingface_hub
wandb
ipykernel